/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* CONTAINER */
.valentine-container {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  background: radial-gradient(circle at top, #ffe3ec, #ffb3c6);
  background-image: url("../assets/626918381_686786044424703_2357197643554829843_n.jpg"); /* put image in /public */
  background-size: cover;
  background-position: center;
}

/* CARD */
.valentine-card {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 28px;
  padding: 40px 24px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 20px 45px rgba(255, 77, 109, 0.35);
  animation: popIn 0.6s ease;
}

/* TITLE */
.valentine-card h1 {
  font-size: 26px;
  color: #c9184a;
  margin-bottom: 30px;
}

/* BUTTONS */
.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

button {
  padding: 12px 26px;
  border-radius: 999px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.yes-btn {
  background: linear-gradient(135deg, #ff4d6d, #ff758f);
  color: white;
}

.no-btn {
  background: #fff;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

/* LOVE MESSAGE */
.love-message {
  font-size:large;
  line-height: 1.6;
  color: #ff4d6d;
  white-space: pre-line;
  text-align: center;
  animation: fadeIn 1s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

/* ANIMATIONS */
@keyframes popIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .love-message {
    font-size: 14px;
    line-height: 1.5;
  }
}
